.bundle
.DS_Store
db/*.sqlite3
log/*.log
tmp/
public/system/images/
public/system/avatars/
.vs/

PrototypeDemo/LoginHandling/bin/Debug/LoginHandling.vshost.exe
PrototypeDemo/LoginHandling/bin/Debug/LoginHandling.vshost.exe.config
PrototypeDemo/LoginHandling/bin/Debug/LoginHandling.vshost.exe.manifest
PrototypeDemo/LoginHandling/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PrototypeDemo/LoginHandling/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PrototypeDemo/LoginHandling/obj/Debug/LoginHandling.csprojResolveAssemblyReference.cache
PrototypeDemo/LoginHandling/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PrototypeDemo/LoginHandling/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PrototypeDemo/LoginHandling/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PrototypeDemo/PrototypeDemo/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PrototypeDemo/PrototypeDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PrototypeDemo/PrototypeDemo/obj/Debug/PrototypeDemo.csprojResolveAssemblyReference.cache
PrototypeDemo/PrototypeDemo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PrototypeDemo/PrototypeDemo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PrototypeDemo/PrototypeDemo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.cache
